@import url('fonts.gooleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&dusplay=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight: 300;
    color: darkorange;
}
body
{
    min-height: 1000px;
}
.Home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(1.jpg);
    background-size: cover;
}
.Home .content
{
    max-width: 900px;
    text-align: center;
}
.Home .content h2
{
    font-size: 5em;
    color: azure;
}
.Home .content p
{
    font-size: 1em;
    color: azure;
}
.btn
{
    font-size: 1em;
    color: azure;
    background: darkorange;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btn:hover
{
    color: black;
    letter-spacing: 5px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background:black;
    opacity: 0.9;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
    color: azure;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none; 
}
header .logo:hover
{
    color: darkorange;
    letter-spacing: 5px;
}
header .logo:hover span
{
    color:azure;
}
header .logo span
{
    color: darkorange;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 50px;
}
header .navigation li a
{
    text-decoration: none;
    color: darkorange;
    font-weight: 700;
}
section
{
    padding: 100px;
    background:url(bg.jpg);
    background-size: cover;
}
.titleText
{
    color:azure;
    font-size: 3em;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content .box .imgBx
{
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Works .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.Works .content .box
{
    width: 380px;
    margin: 20px;
    border: 3px solid darkorange;
}
.Works .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.Works .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.Works .content .box .text
{
    padding: 15px 0 5px;
}
.Works .content .box .text
{
    font-weight: 400;
    color: azure;
    text-align: center;
}
.Team .content
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.Team .content .box
{
    width:750px;
    margin: 15px;
    border: 3px solid darkorange;
}
.Team .content .box .imgBx
{
    position:relative;
    width:100%;
    height:422px;
}
.Team .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.Team .content .box .text h3
{
    font-weight: 800;
    color: azure;
    text-align: center;
    margin-top: 10px;
}
.contactForm
{
    padding:75px;
    background:darkorange;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3
{
    color:#111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight:500;
}
.contactForm .inputBox
{
    position:relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input
{
    width:100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox textarea
{
    width:100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;    
}
.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color:black;
    background: azure;
    display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: 1px solid black;
    cursor:pointer
}

@media (max-width: 991px)
{
    header,
    header .sticky
    {
    padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width:100%;
        height:100%;
        position: fixed;
        top:68px;
        left:0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:#fff;
    }
    header .navigation li
    {
        margin-left: 0;
        font-size: 1.5em;
    }
    header .navigation li
    {
        margin-left: 0;
        font-size: 1.5em;
    }
    .menuToggle
    {
        position:relative;
        width: 40px;
        height: 40px;
        background:url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background:url(close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    section
    {
        padding: 20px;
    }
    .Home .content h2
    {
        font-size: 2.5em;
    }
}
